extends ./layouts/base

block header
   script(type='text/javascript').
      function member_menu(){
            window.location.replace('/employee/emp');
      }
    head
block title 
    title Employee Mananage ment
block content
    body
       center  
       form
            button(type='button',onclick='member_menu()') แสดงเมนูสมาชิก
            a(href='/employee/emp') about
    
    footer
     